.navbar {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    color: #eee;
    text-shadow: 2px 2px 0px #000;
    text-decoration: none;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    color: #000;
    text-shadow: 2px 2px 0px #aaa;
}

.navbar ul li a:hover .nav-trophy {
    color: rgb(165, 165, 31) !important;
    text-shadow: 2px 2px 0px #000;
}

.nav-trophy {
    color: white !important;
    font-size: 14px;
    margin-right: 3px;
    transition: color .5s ease;
}
