/* src/App.css */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.App h1 {
    color: #eee;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 20px;
}
